body{
  background-image: linear-gradient(rgb(255, 184, 184),rgb(216, 198, 255));
}

h1{
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(202, 62, 85);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  }

  @-webkit-keyframes glow {
      from{
          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fefaff, 0 0 40px #7409ff, 
          0 0 50px #b972ff, 0 0 60px #d342ff, 0 0 70px #ff139d;
      }
      to {
        text-shadow: 0 0 20px #fff, 0 0 30px #7321ff, 0 0 40px #4242ff, 0 0 50px #ffffff, 
        0 0 60px #ff0ad2, 0 0 70px #ffa5cd, 0 0 80px #fff;
      }
}

h2{
  animation: bounce 5s infinite;
  text-align: center;
  margin-top: 50px;
  color: #4242ff;
}

  @keyframes bounce {
    10%, 30%, 50%, to{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-40px);
    }
    70%{
        transform: translateY(-35px);
    }
    90%{
        transform: translateY(-2px);
    }
}


.fact{
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button {
  background-color: #ffffff;
  border-radius: 25px;
  border: none;
  color: rgb(255, 113, 161);
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.images{
  margin-top: 150px;
  position: absolute;
  margin-left: 220px;
  margin-right: 220px;
}

img {
  height: 300px;
  width: 340px;
  cursor: pointer;
}

img:hover{ box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }